<section id="lobby_section" ng-controller="LobbyController">

    <div class="container-fluid" ng-init="initLobby()">

        <div class="row">

            <div class="col col-md-3">
                <lobby-launcher></lobby-launcher>
            </div>
            <div class="col col-md-6">
                <lobby-chat></lobby-chat>
            </div>
            <div class="col col-md-3">
                <lobby-players></lobby-players>
            </div>

        </div>

    </div>

</section>

