<section id="auth_section" ng-controller="AuthController">

    <div class="container-fluid">

        <div class="middle-box center">

            <ul class="nav nav-tabs">
                <li role="presentation" ng-class="{active : isTabSet(1)}">
                    <a href ng-disabled="isTabSet(1)" ui-sref="login">
                        Se connecter
                    </a>
                </li>
                <li role="presentation" ng-class="{active : isTabSet(2)}">
                    <a href ng-disabled="isTabSet(2)" ui-sref="register">
                        Créer un compte
                    </a>
                </li>
            </ul>

            <div class="tabs-body" ui-view="authForm">


<!--
                <login-form ng-show="isAuthTabSet(1)"></login-form>

                <register-form ng-show="isAuthTabSet(2)"></register-form>
-->
            </div>

        </div>
    </div>
</section>


