<div ng-repeat="flash in flashList track by $index">
<div role="alert" ng-show="hasFlash" class="alert {{flash.addClass}} alert-{{flash.type}} ng-hide alert-dismissible alertIn alertOut ">
    <div dynamic="flash.text" class="flash-view-content"></div>
    <button type="button" class="close" close-flash ng-hide="flash.noclosebutton">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
</div>
</div>

        <!--
              <div role="alert" ng-show="hasFlash"  class="alert {{flash.addClass}} alert-{{flash.type}} alert-dismissible ng-hide alertIn alertOut ">
    <span dynamic="flash.text"></span>
    <button type="button" class="close" close-flash>
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
</div>
                        -->