<div id="chat_room" ng-controller="ChatController">

    <div class="chat-container">

        <div class="message-container">

            <ul>
                <li class="message-block" ng-repeat="messageBlock in listMessage" ng-class="{notification:messageBlock.isnotification}">
                    <div class="user" ng-hide="messageBlock.isnotification">{{messageBlock.user.username}}</div>
                    <div class="message">
                        <p ng-repeat="msg in messageBlock.messages">
                            {{ msg.message }} &nbsp; <span class="date">{{msg.date | date: 'hh:mm'}}</span><span class="clear"></span>
                        </p>
                    </div>
                </li>
            </ul>

        </div>


        <div class="message-form">
            <form name="chatForm" ng-submit="chatForm.$valid && submitMessage()">
                <div class="row">
                    <div class="col-md-9">
                        <input type="text" required name="message" ng-model="currentMessage"/>
                    </div>
                    <div class="col-md-3">
                        <input type="submit" class="btn-primary btn" value="envoyer"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>